<section id="team" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">3. Daruj výtěžek</h2>
        <h3 class="section-subheading text-muted">Nejjednodušší postup je poukázat získané peníze na <a href="https://www.fio.cz/ib2/transparent?a=2000455143">transparentní účet nadace PERFECT</a>.</h3>
      </div>
    </div>
    <div class="row">
    </div>
      <div class="col-lg-6">
        <div class="well">
          <h4>Převodem na účet</h4>
          <dl class="dl-horizontal">
            <dt>Číšlo účtu:</dt>
            <dd>2000455143 / 2010</dd>

            <dt>Název účtu:</dt>
            <dd>Nadační fond PERFECT</dd>

            <dt>Zpráva pro příjemce</dt>
            <dd>Příspěvek [jméno příjmení] pro #30dníMinimalismu</dd>

          </dl>

          <hr />

          <h4>QR platba</h4>

          <img src="img/qr.png" class="img-responsive" />
        </div>
      </div>

      <div class="col-lg-6">
        <div class="well">
          <h4>Na co vybíráme?</h4>
          <p>Nadační fond PERFECT vybírá peníze pro <a href="http://www.perfect-world.cz/nase-vysledky">jazykové pobyty</a> dětí z <a href="http://www.perfect-world.cz/rozhovor-s-mgr.-nadou-erbovou-reditelkou-detskeho-domova-domino-nejen-o-spolupraci-s-perfect-world">dětských domovů</a>. Podle toho kolik peněz vybereme, budeme moci podpořit projekt na {{#link-to 'progress'}}různých úrovních{{/link-to}}.</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="well">
          <h4>Na koho vybíráme?</h4>
          <img src="img/monika.jpg" class="img-rounded img-thumbnail pull-right" />
          <p>Taky se sami sebe ptáte, co z toho vlastně bude, když podpořím zrovna tuhle benefiční akci? Než se rozhodnete do něčeho vložit energii, chcete přesně vědět, čemu jste vdechli život?</p>
          <p>To je naprosto pochopitelné. Účelem tohoto krátkého článku je seznámit Vás s cílem akce 30&nbps;dní minimalismu, díky které se může každý zapojit do smysluplné mise založené na pozitivní pomoci. Celý výtěžek akce putuje na nadační fond <strong>PERFECT</strong>, který pravidelně pomáhá dětem, z dětského domova <strong>Domino</strong>, žít lepší životy. Konkrétně každoročně hradí minimálně jednomu dítěti jazykový pobyt v zahraničí, hostí děti bez rodin na svých anglických táborech, či doučuje v jazycích ty, kteří to nejvíce potřebují.</p>
          <p>Hlavním plánem na rok 2016 je &bdquo;MMM&rdquo;- Mise <strong>Monika Majerová</strong>. Monča je mladá 14-ti letá slečna, která v angličtině prospívá průměrně. Není to žádný přeborník, ale že by chodila se samými kulemi, to také ne. Její největší slabinou je velmi nízké sebevědomí a tendence podceňovat se. Hodně chybuje i ve věcech, které zná, především proto, že si nevěří. Paní Naďa Erbová (ředitelka dětského domova Domino) ji vybrala jako vhodnou kandidátku na jazykový pobyt s angličtinou pro další rok především proto, že Monča byla, po absolvování letního tábora s angličtinou s Perfect World, z aktivního přístupu k učení nadšená. Paní ředitelka věří, že pobyt v zahraničí s tamní výukou Monice pomůže překonat pomyslné bloky, které v sobě má, a otevře jí tak dveře k lepší budoucnosti.</p>
          <p>Zapojte se i Vy do akce 30 dní minimalismu a pomozte <strong>konkrétnímu příběhu</strong>!</p>
        </div>
      </div>
  </div>
</section>
