@import "bower_components/font-awesome/scss/font-awesome";

@import "agency";
@import "bootstrap";

.navbar-brand .fa-stack {
  margin-top: -17px;
}

#about {
  background-color: #f7f7f7;
}

#portfolio, #team {
  background-color: #fff;
  padding-top: 50px
}

.navbar {
  margin-bottom: 0;
}

.navbar-default .nav li a {
  padding: 15px;
  margin: 0;
  font-weight: 400;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

  &.active {
    background-color: #fed136;
    color: #fff;
    border-radius: 3px;
  }
}

// .nav > li > a:hover, .nav > li > a:focus
.nav-pills {
  margin-top: 100px;
  float: right;

  & > li > a {
    background-color: #e7e7e7;
    color: #777;
    border-radius: 0 0 5px 5px;

    &.active, &:focus, &:hover {
      background-color: #fed136;
      color: #fff;
    }
  }
}

.btn-copy-to-clipboard {
  @extend .btn;
  @extend .btn-primary;

  position: absolute;
  right: 15px;
  margin-top: -32px;
}

.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
 }
